
# .env.example

# Snowflake Configuration
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=ML_DB
SNOWFLAKE_SCHEMA=PUBLIC

# FastAPI Configuration
API_PORT=8000
DEBUG_MODE=True

# Kafka Configuration
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=ml-stream
